@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
* {
  box-sizing: border-box;
  font-family: 'REM', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}
html { font-size: 62.5% }
body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.calcy {
  background: hsla(0, 0%, 0%, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.2rem;
}
#output {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  padding: 0 2rem;
}
.btn {
  align-items: center;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
.btn--deleter    { color: #f37794 }
.btn--num        { color: white   }
.btn--operator   { color: #06d6a0 }
.btn--secondary { color: #ffd166 }

@media (max-width: 599px) {
  .calcy { height: 100% }
}
@media (min-width: 600px) {
  body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .calcy {
    border-radius: 1rem;
    height: 100%;
    max-height: 60rem;
    max-width: 60rem;
    padding: 1rem;
  }
}

/** Placement **/
.calcy {
  grid-template-areas:
    'output output output output'
    'output output output output'
    'btn--e btn--parenthese-open btn--parenthese-close btn--remainder'
    'btn--pi btn--clear-all btn--clear  btn--multiplication'
    'btn--7 btn--8 btn--9 btn--division'
    'btn--4 btn--5 btn--6 btn--subtraction'
    'btn--1 btn--2 btn--3 btn--addition'
    'btn--0 btn--dot btn--calc btn--calc'; 
}
#output { grid-area: output }
.btn--parenthese-open { grid-area: btn--parenthese-open }
.btn--parenthese-close { grid-area: btn--parenthese-close }
.btn--e { grid-area: btn--e }
.btn--pi { grid-area: btn--pi }
.btn--0 { grid-area: btn--0 }
.btn--1 { grid-area: btn--1 }
.btn--2 { grid-area: btn--2 }
.btn--3 { grid-area: btn--3 }
.btn--4 { grid-area: btn--4 }
.btn--5 { grid-area: btn--5 }
.btn--6 { grid-area: btn--6 }
.btn--7 { grid-area: btn--7 }
.btn--8 { grid-area: btn--8 }
.btn--9 { grid-area: btn--9 }
.btn--dot { grid-area: btn--dot }
.btn--addition { grid-area: btn--addition }
.btn--subtraction { grid-area: btn--subtraction }
.btn--division { grid-area: btn--division }
.btn--multiplication { grid-area: btn--multiplication }
.btn--remainder { grid-area: btn--remainder }
.btn--calc { grid-area: btn--calc }
.btn--clear-all { grid-area: btn--clear-all }
.btn--clear { grid-area: btn--clear }